/* ------------------------------------------------------------ *\
  custom-dropdown
\* ------------------------------------------------------------ */

.custom-dropdown {
  position: relative;
  width: 100%;
  max-width: 200px;

  &:hover .custom-dropdown__head {
    border-color: $border-hover-color;
  }

  .custom-dropdown__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: border-color $transition-duration;
    color: $light;
  }

  .custom-dropdown__body {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 100%;
    z-index: 1;
    border: 1px solid $border-color;
  }

  .custom-dropdown__option {
    border-radius: $border-radius;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color $transition-duration, color $transition-duration;
    color: $light;

    &:hover {
      background-color: $primary;
      color: $light;
    }
  }

  .custom-dropdown__option--disabled {
    opacity: .5;
    pointer-events: none;
  }
}
