/* ------------------------------------------------------------ *\
  section-hero
\* ------------------------------------------------------------ */

.section-hero {
  padding: 80px 0;

  .section-hero__content {
    text-align: center;
  }

  .section-hero__title {
    margin-bottom: 20px;
  }

  .section-hero__entry {
    margin-bottom: 40px;
  }

  .section-hero__actions h2 {
    margin-bottom: 30px;
  }
}
