/* ------------------------------------------------------------ *\
  token-selector
\* ------------------------------------------------------------ */

.token-selector {
  .token-selector__btn {
    display: flex;
    align-items: center;
    background-color: $tertiary;
    border: 1px solid $border-color;
    border-radius: 0 $border-radius $border-radius 0;
    font-weight: bold;
    padding: 10px 20px;
    transition: border-color $transition-duration;

    &:active {
      background-color: $tertiary;
    }

    &:hover {
      border-color: $border-hover-color;
    }
  }

  .token-selector__btn svg {
    transform: translateY(1px);
  }

  .token-selector__btn-symbol {
    margin-right: 7px;
  }

  .token-selector__field {
    font-size: 24px;
    font-weight: bold;
    border-radius: $border-radius 0 0 $border-radius;
    transition: border-color $transition-duration;

    &:hover {
      border-color: $border-hover-color;
    }
  }

  .token-selector__icon {
    width: 25px;
    margin-right: 10px;
  }
}
