.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shell,
.shell-medium {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

.shell-medium {
  max-width: 800px;
}

.header-wrapper {
  height: 86px;
}

.main {
  flex: 1;
}

.footer {
  background-color: $tertiary;
  padding: 24px;
}

.button-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}
