.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shell,
.shell-medium {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

.shell-medium {
  max-width: 800px;
}

.header-wrapper {
  height: 86px;
}

.main {
  flex: 1;
}

.panel {
  border-radius: $border-radius;
  padding: 6px 10px;
  background-color: $tertiary;
  width: 100%;

  &.panel--border {
    border: 1px solid $border-color;
  }
}

.footer {
  background-color: $tertiary;
  padding: 24px;
}
