@import 'variables.scss';
@import 'mixins.scss';
@import 'bootstrap.scss';
@import 'typography.scss';
@import 'layout.scss';

// Components
@import 'components/card.scss';
@import 'components/custom-modal.scss';
@import 'components/custom-dropdown.scss';
@import 'components/header.scss';
@import 'components/section-hero.scss';
@import 'components/transfer-form.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  transition: color .2s;

  &:hover {
    color: $light
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.img-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
